{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container">
    {% for category in categories %}
    <div class="d-flex flex-row justify-content-around flex-wrap mb-2">
        <h1>{{category.name}}</h1>
        <h2>{{category.description}}</h2>

        {% for post in category.posts|slice(0, 12) %}

        {% include "home/displayPosts.html.twig" %}

        {% endfor %}
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-primary " href="{{path('Category',{id:category.id})}}">See more from this category</a>
    </div>
    {% endfor %}
    {% endblock %}