{% extends 'base.html.twig' %}

{% block title %}dqs{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex flex-row justify-content-around flex-wrap mb-2">
        {% for post in posts %}


        {% include "home/displayPosts.html.twig" %}

    </div>
</div>
{% endfor %}
</div>
{% endblock %}