{% extends 'base.html.twig' %}

{% block title %}{{author.name}}{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex flex-row justify-content-around flex-wrap mb-2">
        {% for post in author.posts %}

        {% include "home/displayPosts.html.twig" %}

        {% endfor %}
    </div>
    {% endblock %}